@media screen and (min-width:911px) {
	.aspirewidth {
		width: 60% !important;
	}
}
.carousel-caption {
	background: rgba(30, 25, 25, 0.47);
	padding: 0.5em;
	padding-bottom: 1.5em;
}


@media screen and (max-width: 480px) {
	h3 {
		font-size: 1em;
	}
	p {
		font-size: 0.8em;
	}

}

img{
	animation: fadeIn;
    animation-duration: 2s;
    width:100%;
}

@keyframes fadeIn {
    from {opacity:0}
    to {opacity:1}
}

ngb-carousel{
	background:black;
}


