  <article class="btmmarg">
  <ngb-carousel class="globalwidth aspirewidth">
    <template ngbSlide>
      <img src="{{toddler}}" alt="Pacifier">
      <div class="carousel-caption">
        <h3>The present</h3>
        <p>As it now stands, I'm still a toddler when it comes to software development. But curiosity drives me forward.</p>
      </div>
    </template>
    <template ngbSlide>
      <img src="{{adolescent}}" alt="Young gun">
      <div class="carousel-caption">
        <h3>Making progress</h3>
        <p>My intention is to become a better programmer. Learn new technologies and skills, and hone those I 
        already possess.</p>
      </div>
    </template>
      <template ngbSlide>
      <img src="{{younggun}}" alt="Love and marriage">
      <div class="carousel-caption">
        <h3>The end game</h3>
        <p>To find the thing(s) I enjoy spending time with, buckle down and go to work. </p>
      </div>
    </template>
  </ngb-carousel>
  <section class="text-center mt-2 col-sm-12 col-md-8 offset-md-2">
  <h4>The road is long...</h4>
  <p>To become an excellent software developer takes ages. Hell, even becoming a mediocre one takes a long, long time. 
  Yet, my aim is to keep learning new things and gradually improve upon my professional skills as a developer. I'm interested in both
  back-end and front-end development. Though as it now stands, front-end development seems more appealing to me. Angular 2, on which this
  website is built, seems fascinating and I'd like to keep studying it.</p>
  <p>As I'm in the home stretch of my studies, it's time to start thinking about my future employment. Hopefully it'll be at a company
  that provides a young developer such as myself with a nurturing, facilitating environment with room to breathe yet with
  challenging tasks. Somewhere where the working environment is multicultural; English and Swedish have always been two
  of my favourite subjects at school, so putting those skills to practice would be great. </p>
  </section>
  </article>



