
<header>
	<h4 class="text-center">{{title}}</h4>
</header>
<div class="container">

	<article class="globalwidth btmmarg">


		<div *ngFor="let skill of skills; let i=index" class="row skills pb-2">
			<div class="col-sm-12 col-md-2 text-center">
				<img src="{{skill.url}}" alt="{{skill.alt}}">
			</div>
			<div class="col-sm-12 col-md-9 offset-md-1 text-center"
				style="height: 120px;" id="text">
				{{skill.explanation}} <span *ngIf="i === 3"><a 
					ng-href="https://github.com/ledeveo/hoptimus" target="_blank">https://github.com/ledeveo/hoptimus</a></span>
				
			</div>
			
		</div>

		<section>
			<h5>Honorable mentions</h5>
			<p>I have some experience with a couple of CSS libraries,
				including Bootstrap, Foundation 6 and Materialize.css. And in the
				above mentioned Spring project we used Maven to manage dependencies,
				so there's that, too. I recognize JSON syntax, have used AJAX
				successfully a couple of times. Used SASS a couple of times. The
				images on this website where created/edited with paint.net. Photo
				editing is really not my game, though...</p>
		</section>

	</article>

</div>