input:focus, textarea:focus {
    border-color: #000;
}

label {
    display: inline-block;
    width:100%;
}

form {
    margin: 0 auto;
    width: 100%;
    padding: 1em;
}

form div + div {
    margin-top: 1em;
}
