

<div class="page-header text-center">
	<h1>
		<a routerLink="/"><img src={{leaf}}>My Portfolio<img src={{leaf}} style="transform: scaleX(-1);"></a>
	</h1>
</div>


<nav class="text-center hidden-xs btmmargin">
<ul class="nav nav-pills">
	<li><a routerLink="/personal-info"
		routerLinkActive="activated">About me</a></li>
		<li><a routerLink="/aspirations"
		routerLinkActive="activated">Roadmap</a></li>
		<li><a routerLink="/current-skillset"
		routerLinkActive="activated">Competencies</a></li>
</ul>
</nav>



<dropdown></dropdown>


<router-outlet></router-outlet>

