

<div class="text-center">
	<button type="button" class="btn btn-default" (click)="smModal.show()">Contact
		</button>


	<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" aria-label="Close"
						(click)="smModal.hide()">
						<span aria-hidden="true">&times;</span>
					</button>
					
				</div>
				<div class="modal-body">

					<div class="container">
					
					
						
						
						
						<form ngNoForm action="https://formspree.io/solarshadow.jh@gmail.com" method="POST">
							<div class="form-group">
								<label for="name" tooltip="Who are you?">Name</label> <input type="text"
									class="form-control" id="name" required
									[(ngModel)]="model.name" name="name">
									
							</div>
							<div class="form-group">
								<label for="email" tooltip="What's your email?(not required)">Email</label> <input type="text"
									class="form-control" id="Email"
									[(ngModel)]="model.email" name="_replyto">
									
							</div>
							<div class="form-group">
								<label for="message" tooltip="What's up?">Message</label>
									
									<textarea class="form-control" rows="3" id="message"
									[(ngModel)]="model.message" name="message"></textarea>
							</div>
							<button type="submit" value="send" class="btn btn-default">Submit</button>
						</form>
						<p>Form handling by: <a href="https://formspree.io/" /></p>
					</div>

				</div>
			</div>
		</div>
	</div>



</div>