

<div dropdown [(isOpen)]="status.isopen" class="text-center visible-xs">
    <button id="single-button" type="button" class="btn btn-default btmmargin" dropdownToggle [disabled]="disabled">
      	Menu </button>
    <ul dropdownMenu role="menu" aria-labelledby="single-button" style="width:100%;margin-top:-0.1em;">
     <li class="mb-1 mt-1 text-center"><a routerLink="/personal-info"
		routerLinkActive="active">About me</a></li>
		<li  class="mb-1 text-center"><a routerLink="/aspirations"
		routerLinkActive="active">Roadmap</a></li>
		<li  class="mb-1 text-center"><a routerLink="/current-skillset"
		routerLinkActive="active">Competencies</a></li>
    </ul>
  </div>
  
 