


<article class="text-center globalwidth">
<h4  id="welcometext">
My name is Joonas Heikkinen and this is my personal portfolio. As you'll see, it is quite empty. There
isn't much to see here yet, but as I keep wading through the marshlands they call the IT industry, I'll keep
adding content. 
Browse through these pages to learn more about me, the skills I possess (or the lack thereof) and the things
I'm interested in. Provided I can make it work, in the future, pressing the button below will allow you to contact me.<small>
For the time being you can find my contact information on the 'About me' page. 
</small>
</h4>
<contact-form></contact-form>
</article>









