


<article class="text-center btmmarg">
<h3 class="pt-1">Video introduction <small>to come</small></h3>
<p>In the mean time, enjoy this clip of wintry scenery from Kartanonkoski.</p>

   <video controls muted poster="{{field}}">
      <source src="{{winter}}" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
<section class="mt-2 pt-1 col-sm-12 col-md-8 offset-md-2">

<h4>Personal information</h4>


<strong>Name:</strong>
<p>Joonas Elmeri Heikkinen</p>
<strong>Age:</strong>
<p>27</p>
<strong>Email:</strong>
<p>solarshadow.jh@gmail.com</p>

<strong>Place of residence</strong>
<p>Kartanonkoski, Vantaa</p>
<strong>Employment history</strong>
<p>~9 years at Paulig (coffee roastery), in various 
work tasks in production.</p>

<strong>Recreational interests</strong>
<p>I used to like reading books written in Swedish or English (still do, but finding time for it has become
rather difficult). I played football for ten years, ten years ago. Nowadays I play floorball once a week. I enjoy taking long
walks with our dog, Dahlia. Playing videogames has been close to my heart ever since I was a kid (I own a PS4). Picking up and 
dropping off my lovely wife to work has become a daily routine. I also enjoy traveling and have been to quite a few countries in Europe and
a few overseas. </p>  

<p><small>No changes found, eh? Screw you, ng-cli!!</small></p>

</section>
</article>
