/* You can add global styles to this file, and also import other style files */

html{
	height:100%;
}

body{
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	
}

@media screen and (max-width:799px){
	
	body {
	background-image:url(assets/img/dahliar.jpg);
	background-position: 0% 100%;
	background-size: 75px 123px;
	
	}
}

@media screen and (min-width:800px){
	body{
	background-image:url(assets/img/faright.jpg), url(assets/img/dahliab.jpg);
	background-position:left bottom, right bottom;
	background-size:auto;
}
}


*{
	font-family: 'Nunito', sans-serif;
}

.row > div{
	padding:1em;
}

li a{
	color:#999797;
}


.btmmargin{
	margin-bottom:0.4em;
}

a {
	text-decoration:none !important;
}

h1 > a {
	color:black;
	
}


.btmmarg{
	margin-bottom:3em;
}

.globalwidth{
	width:70%;
	margin:auto;
}

@media screen and (max-width: 480px) {
	.globalwidth {
		width: 100%;
	}
}

@media screen and (max-width:910px) {
	.globalwidth {
		width: 80%;
	}
}